#slowSlide {
  -webkit-animation-duration: 5s;

}

.container {
    width: 100vw;
}

.resPanel {
margin-top: 25px;
text-align: center;
margin-left: 10px;
margin-right: 10px;
/*margin-right: 10%;
margin-left: 10%;
width: 80%;*/
}

.resPanel2 {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

/*.resPanel:hover { 
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    font-size: 10px;
}
}

.resPanelTest:hover {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

.resPanel2:hover {
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
}*/
