#slowSlide {
  -webkit-animation-duration: 5s;

}

.container {
    width: 100%;
}

.topmar {
    margin-top: 50px;
}

.navbuttons {
    margin-top: 10px;
    margin-left: 10px;
}

.resPanel {
margin-top: 25px;
text-align: center;
margin-left: 10px;
margin-right: 10px;
/*margin-right: 10%;
margin-left: 10%;
width: 80%;*/
}

.resPanel2 {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

.nav1 {
    align-content: center;
}

.name {
    margin-top: 2px;
    margin-right: 100px;
    float: right;
    text-align: center;
    text-decoration: none;
}

.name2 {
    text-align: center;
    text-decoration: none;
}

.about-text {
    padding-top: 25px;
    text-align: center;
}

.education {
    padding-top: 25px;
    text-align: center;
}

.contact {
    padding-top: 25px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
    width: 100%;
}

.work {
    padding-top: 25px;
    margin-left: 25%;
    width: 50%;
    text-align: center;
}

.portfolio {
    padding-top: 25px;
    text-align: center;
}

.portheight {
    height: 10%;
}

.skills {
    text-align: center;
}

div#preload { display: none; }